
 

#user-group{
    border: solid;
    font-size: 1rem;
    margin-left: 20%;
    width: 60%;
}
#contrasena-group{
    border: solid;
    font-size: 1rem;
    margin-left: 20%;
    width: 60%;
}

#botingresar{
  font-size: 1rem;
    margin-left: 20%;
    width: 60%;
}

#ingresar{
  font-size: 1rem;
  margin-left: 20%;
  width: 60%;
}

